// imports
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed);

// variables

// colors
@black: #000;
@white: #fff;
@grey: #dedede;
@blue: #06c;

// fonts
@mainFont: 'Roboto Condensed', sans-serif;

// mixins
.defaultFont {
    font-family: @mainFont;
}

// resets
* {
    box-sizing: border-box;
    position: relative;
}

body {
    .defaultFont();
    font-size: 100%;
    margin: 0;
    padding: 0;
}

header {
    h1 {
        color: darken(@grey, 10%);
        display: inline-block;
        font-size: 2rem;
        font-weight: 100;
        line-height: 2rem;
        margin: 0;
        padding: 1rem;
        width: 90%;
    }
    
    nav {
        & > span {
            color: @blue;
            font-size: 2rem;
            line-height: 4rem;
        }
        
        ul {
            border-style: dashed;
            border-color: @grey;
            border-width: 1px 0 1px 1px;
            box-shadow: -1px 3px 5px 2px rgba(0, 0, 0, 0.05);
            display: none;
            list-style: none;
            padding: 0 1rem 0 0;
            position: absolute;
            right: 0;
            text-align: right;
            top: 3rem;
            width: 100px;
            
            li,
            a {
                transition: 100ms linear all;
            }
            
            li {
                padding: 1rem;
                
                &:hover {
                    background-color: @blue;
                    
                    a {
                        color: @white;
                    }
                }
            }
        }

        cursor: pointer;
        float: right;
        text-align: center;
        width: 3rem;
    }
}

main {
    p {
        color: darken(@grey, 40%);
        font-size: 1em;
        margin: .25em 0;
    }
}

footer {
    background-color: @blue;
    bottom: 0;
    height: 100px;
    position: fixed;
    width: 100%;
}